<div class="card-container">
  <mat-card class="card card-employee">
    <mat-card-header>
      <mat-card-title>Total Employees</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ totalEmployeesCount }}</p>
    </mat-card-content>
    <mat-card-actions>
      <h2><b>Employees</b></h2>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card card-project">
    <mat-card-header>
      <mat-card-title>Total Projects</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ totalProjectsCount }}</p>
    </mat-card-content>
    <mat-card-actions>
      <h2><b>Projects</b></h2>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card card-active">
    <mat-card-header>
      <mat-card-title>Active Projects</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ totalAssignmentsCount }}</p>
    </mat-card-content>
    <mat-card-actions>
      <h2><b>Active</b></h2>
    </mat-card-actions>
  </mat-card>
</div>
